version: "3"
services:
  hmpps-probation-supervision-appointments-api:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-probation-supervision-appointments-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth
      - SPRING_PROFILES_ACTIVE=dev
      - GRAPH_CLIENT_CLIENT_ID=${GRAPH_CLIENT_ID} #get value from 1password and populate .env
      - GRAPH_CLIENT_CLIENT_SECRET=${GRAPH_CLIENT_SECRET} #get value from 1password and populate .env
      - GRAPH_CLIENT_TENANT_ID=${GRAPH_TENANT_ID} #get value from 1password and populate .env
      - CALENDAR_FROM_EMAIL=${CALENDAR_FROM_EMAIL} #get value from 1password and populate .env
      - DATABASE_PASSWORD=password
      - DATABASE_URL=jdbc:postgresql://probation-supervision-db:5432/probation-supervision
      - DATABASE_USERNAME=postgres
      - FLIPT_URL=http://wiremock:8080
      - FLIPT_token=123
      - GOVUK_NOTIFY_TEMPLATE_ID=${TEMPLATE_ID} #get value from 1password and populate .env
      - GOVUK_NOTIFY_API_KEY=${API_KEY}

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  probation-supervision-db:
    image: postgres:18
    networks:
      - hmpps
    container_name: probation-supervision-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=probation-supervision

  wiremock:
    image: wiremock/wiremock:3.13.2
    networks:
      - hmpps
    container_name: wiremock
    ports:
      - "8081:8080"       # host:container
    environment:
      WIREMOCK_OPTIONS: "--verbose"
    volumes:
      - ./docker-wiremock/mappings:/home/wiremock/mappings

networks:
  hmpps:

volumes:
  flipt-data: